<div class="container">
    <div class="content">
        <div class="sezione">
            <h3 class="titolo-blocco">
                Viaggia attraverso le emozioni
            </h3>
            <p class="paragrafo">
                Scopri il nuovo gioco turistico
            </p>
        </div>

        <div class="sezione">
            <img class="immagine" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
        </div>

        <div class="sezione">
            <h3 class="titolo-subblocco">
                Lasciati Sorprendere
            </h3>
            <p class="paragrafo">
                Ispirazione per il tuo prossimo viaggio. Su STEP e nella vita reale
            </p>
        </div>

        <div class="sezione">
            <h3 class="titolo-subblocco">
                Vivi nuove esperienze
            </h3>
            <p class="paragrafo">
                Luoghi sconosciuti e challenge per rendere unica la tua esperienza
            </p>
        </div>
        <div>
            <h3 class="titolo-subblocco">
                Contribuisci all'anima locus
            </h3>
            <p class="paragrafo">
                Le tue emozioni e i tuoi consigli da insider creano una risorsa per la community
            </p>
        </div>

        <div class="sezione" id="sezione-button">
            <button class="button" (click)="onClick()">Inizia il Viaggio</button>
        </div>
        
    </div>
</div>