<div class="container">

    <ng-container *ngIf="luogo$| async; let luogo">

        <div class="sezione modifica-container">
            <mat-chip class="chip " style="margin-inline-end: 1rem;" (click)="modificaLuogo()"> <span class="modifica-button"><svg-icon src="assets/Icons/edit.svg" [svgStyle]="{ 'height.px':16, 'width.px':16 , 'margin-right.px': 5}" class="edit_icon"></svg-icon> Modifica</span>  </mat-chip>
        </div>
        
        <img class="immagine-luogo" src="{{luogo.imm}}" *ngIf="luogo.imm.length == 1" alt="">
        <owl-carousel-o [options]="customOptions" *ngIf="!(luogo.imm.length == 1)">
            <ng-template carouselSlide *ngFor="let immLink of luogo.imm">
                <img class="immagine-luogo" src="{{immLink}}" alt="">
            </ng-template>
        </owl-carousel-o>

        <div class="sezione">
            <div class="location-container">
                <mat-icon id="location-icon">location_on</mat-icon>
                <p style="margin: 0;">
                    {{luogo.location}}
                </p>

            </div>
        </div>

        <div class="sezione">
            <div class="titolo-container">
                <div class="flexer">
                    <h2 class="titolo">{{luogo.nome}}</h2>
                    <span class="spacer"></span>
                </div>

            </div>
            <div class="titolo-container">
                    <h4 class=" sottosezione">Descrizione</h4>
                </div>
            <p class="descrizione">
                {{luogo.descrizione}}
            </p>
        </div>
        <div class="sezione" *ngIf="luogo.info !== '' && luogo.info">
            <div class="titolo-container">
                <h4 class=" sottosezione">Info Utili</h4>
                <button class="link-utile" (click)="navigaLink(luogo.info)"><svg-icon src="assets/Icons/exit_to_app.svg"></svg-icon>  {{luogo.info}}</button>
            </div>
        </div>
        <div class="sezione">
            <div class="titolo-container">
                <h4 class=" sottosezione">Emozioni Correlate</h4>
            </div>
            <div class="emozioni-container">
                <mat-chip disabled class="chip" *ngFor="let emozione of luogo.emozioni">

                    {{toCap(emozione)}}

                </mat-chip>

            </div>
        </div>

        
        <div class="sezione">
            <div class="titolo-container">
                <h4 class=" sottosezione">Anima Locus</h4>
            </div>
        </div>

        <div class="container-emozioni">
            <div class="button-container" matRipple *ngFor="let obiettivo of  luogo.obiettivi; index as i ">
                <button matRipple type="button" class="obiettivo" (click)="esploraAnimaLocus(luogo.id,i)"
                    value="{{obiettivo.nome}} " matBadge="{{obiettivo.container.length}}">
                    <div class="icon-button">
                        <svg-icon src="{{getIconByName(obiettivo.nome)}}"></svg-icon>

                    </div>
                    <p class="label-button">
                        {{obiettivo.nome}}
                    </p>
                </button>

            </div>
        </div>
    </ng-container>



</div>