<div class="container" *ngIf="(currentUser$|async) as user">
    <div class="sezione">
        <h3 class="titolo-blocco">
            Ciao {{user.nome}}!
        </h3>
    </div>

    <div class="sezione">
        <h3 class="titolo-blocco">
            Trend Emozionali
        </h3>
        <div class="scrollable-container">
            <ng-container *ngFor="let luogo of luoghiAdmin">
                <button class=" scegli-button" (click)="selezionaLuogo(luogo.id)"
                    [ngClass]="{'selected' : idLuogoSelezionato===luogo.id}">{{luogo.nome}}
                </button>

            </ng-container>
        </div>
    </div>

    <div class="sezione" *ngIf="luogoSelezionato">
        <div class="container-counters">
            <div class="count-commenti" style="border-right: 0.5px solid black;">
                <p class="pos-count">{{contaPositivi()}}</p>
                <p class="testo-commento">commenti positivi</p>
            </div>
            <div class="count-commenti">
                <p class="neg-count">{{contaNegativi()}}</p>
                <p class="testo-commento">commenti negativi</p>
            </div>
        </div>
    </div>

    <div class="sezione sezione-graph">

        <div class="graph-container">
            <div class="titolo-graph-container">
                <h3 class="titolo-blocco-graph">
                    Commenti
                </h3>

                <button class="tipo-button" matRipple [matMenuTriggerFor]="menu"><svg-icon
                        [svgStyle]="{ 'width.px':30 }" src="{{srcTipoDaCambiare}}"></svg-icon> <mat-icon
                        style="margin-left: 4px;">expand_more</mat-icon></button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item class="tipo-elemento"
                        (click)="cambiaTipoCommento('tripadvisor','assets/Icons/tripadvisor-icon.svg')"><svg-icon
                            [svgStyle]="{ 'width.px':30 }" src="assets/Icons/tripadvisor-icon.svg"></svg-icon></button>
                    <button mat-menu-item class="tipo-elemento"
                        (click)="cambiaTipoCommento('step','assets/Icons/STEP_icon.svg')"><svg-icon
                            [svgStyle]="{ 'width.px':30 }" src="assets/Icons/STEP_icon.svg"></svg-icon></button>
                </mat-menu>
            </div>
            <div class="graph-content">
                <canvas id="canvas" height="250">{{grafico}}</canvas>
            </div>

            <div class="select-container">
                <select id="anno" class="select-anno" (change)="onChange($event.target)">
                    <ng-container *ngFor="let anno of anni">
                        <option [selected]="annoSelezionato == anno ? 'selected' : ''" value="{{anno}}">{{anno}}
                        </option>
                    </ng-container>
                </select>
            </div>

        </div>
    </div>

    <div class="sezione">
        <h3 class="titolo-blocco">
            Gestisci i tuoi luoghi
        </h3>
        <div class="scrollable-container">

            <mat-card class="card" *ngFor="let luogo of luoghiAdmin" (click)="gestisciLuogo(luogo.id)">
                <img class="imm-card" src="{{luogo.imm}}" alt="Photo of a Shiba Inu">


                <mat-card-title style="padding-top: 5px;">{{luogo.nome}}</mat-card-title>

            </mat-card>

        </div>
    </div>

    <div class="sezione">
        <div class="header-comment">
            <h3 class="titolo-blocco" style="padding-inline: 0">
                Recensioni recenti
            </h3>
            <button class="tipo-button filtro-commento-button" matRipple [matMenuTriggerFor]="menuRecensioni">
                <span class="label-commento">

                    {{labelFiltroCommenti}}
                </span>
                <mat-icon
                    style="margin-left: 4px;">expand_more
                </mat-icon>
            </button>
            <mat-menu #menuRecensioni="matMenu">
                <button mat-menu-item class="tipo-elemento" (click)="filtraCommenti('recenti')">
                    Recenti
                </button>
                <button mat-menu-item class="tipo-elemento" (click)="filtraCommenti('tutti')">
                    Tutti
                </button>
                <button mat-menu-item class="tipo-elemento" (click)="filtraCommenti('negativi')">
                    Negativi
                </button>
                <button mat-menu-item class="tipo-elemento" (click)="filtraCommenti('positivi')">
                    Positivi
                </button>
            </mat-menu>
        </div>

        <div class="comment-container" *ngIf="commentiFiltro">
            <ng-container *ngFor="let commento of commentiFiltro">
                <div class="comment">
                    <div class="comment-header">
                        <div class="stars">
                            <star-rating [starType]="'svg'" [readOnly]="true"
                                [rating]="commento.recensione"></star-rating>
                        </div>

                        <svg-icon [svgStyle]="{ 'width.px':30 }" *ngIf="commento.fonte === 'tripadvisor' "
                            src="assets/Icons/tripadvisor-icon.svg"></svg-icon>
                        <svg-icon [svgStyle]="{ 'width.px':30 }" *ngIf="commento.fonte === 'step' "
                            src="assets/Icons/STEP_icon.svg"></svg-icon>
                    </div>
                    <div class="commment-content">
                        <p class="comment-title">{{commento.titolo}}</p>
                        <p class="comment-desc">
                            {{commento.descrizione}}
                        </p>
                    </div>
                    <div class="comment-footer">
                        <p class="comment-location">{{commento.nomeUser}}</p>
                        <p class="comment-location">{{commento.luogo}}</p>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="empty-container" *ngIf="commentiFiltro.length == 0">
            <p class="p-empty">
                Ancora nessuna recensione per questo filtro
            </p>
        </div>

    </div>
</div>