.container {
  max-width: 100%;
  min-height: 100%;
  background-color: #f5f3f7;
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
  min-height: 50rem;
}

.sezione {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 2rem;
}

.login-form{
    width: 100%;
    margin-bottom: 2rem;
}

.form-field{
    margin-bottom: 1rem;
}

.titolo {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

input[type='text']{
  height: 2.5rem;
  border: 1px solid #d5d5d5;
  border-radius: 15px;
  width: 100%;
  padding: 0 20px;
  font-size: 16px;

  /*per mettere il padding senza alterare il width */
  box-sizing: border-box;
  -moz-box-sizing: border-box; /* Firefox */
  -webkit-box-sizing: border-box; /* Safari */
}

.cerca-button{
    padding: 0;
    color: #015ede;
    border: none;
    background: none;
    position: absolute;
    top: 88px;
    right: 17px;
    height: 40px;
    width: 40px;
}

.filtra-button{
    font-size: 20px;
    vertical-align: middle;
}

.label-filtra{
    font-weight: bold;
}

