<div class="container">
    <div class="caricamento-container" *ngIf="!(luogo$ | async)">

        <mat-spinner></mat-spinner>
    </div>
    <ng-container *ngIf="luogo$| async; let luogo">

        
        <img class="immagine-luogo" src="{{luogo.imm}}" *ngIf="luogo.imm.length == 1" alt="">
        <owl-carousel-o [options]="customOptions" *ngIf="!(luogo.imm.length == 1)">
            <ng-template carouselSlide *ngFor="let immLink of luogo.imm">
                <img class="immagine-luogo" src="{{immLink}}" alt="">
            </ng-template>
        </owl-carousel-o>

        <div class="sezione">
            <div class="location-container">
                <mat-icon id="location-icon">location_on</mat-icon>
                <p style="margin: 0;">
                    {{luogo.location}}
                </p>

            </div>
        </div>

        <div class="sezione">
            <div class="titolo-container">
                <div class="flexer">
                    <h2 class="titolo">{{luogo.nome}}</h2>
                    <span class="spacer"></span>
                    <button mat-mini-fab class="share-button" matRipple (click)="onShare()">
                        <mat-icon>share</mat-icon>
                    </button>
                </div>

            </div>
            <div class="titolo-container">
                    <h4 class=" sottosezione">Descrizione</h4>
                </div>
            <p class="descrizione">
                {{luogo.descrizione}}
            </p>
        </div>
        <div class="button-map-container">
            <button class="button-map" matRipple (click)="navigaMaps(luogo.coordinate)">
                <mat-icon>map</mat-icon> Trova su Google Maps
            </button>
        </div>
        <div class="sezione" *ngIf="luogo.info !== '' && luogo.info">
            <div class="titolo-container">
                <h4 class=" sottosezione">Info Utili</h4>
                <button class="link-utile" (click)="navigaLink(luogo.info)"><svg-icon src="assets/Icons/exit_to_app.svg"></svg-icon>  {{luogo.info}}</button>
            </div>
        </div>

        <div class="sezione" >
            <div class="titolo-container">
                <h4 class="sottosezione">Recensioni STEP</h4>
            </div>

            <div class="comment-container" *ngIf="getCommentiSTEP(luogo)">
                <ng-container *ngIf="getCommentiSTEP(luogo).length == 0">
                    <div class="empty-container">

                        <p class="empty-paragraph">Al momento non sono presenti commenti STEP per questo luogo</p>
                    </div>
                </ng-container>
                <ng-container *ngFor="let commento of getCommentiSTEP(luogo); index as i">
                    <div class="comment" id="{{'commento-luogo-'+ i}}">
                        <div class="comment-header">
                            <div class="stars">
                                <star-rating [starType]="'svg'" [readOnly]="true"
                                    [rating]="commento.recensione"></star-rating>
                            </div>
    
                            <div>
                                <svg-icon [svgStyle]="{ 'width.px':30 }" src="assets/Icons/STEP_icon.svg"></svg-icon>
                                <button mat-icon-button [matMenuTriggerFor]="menu" >
                                    <mat-icon>more_vert</mat-icon>
                                  </button>
                                  <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="copiaCommento('commento-luogo-'+ i)" >
                                      <span>Condividi Recensione</span>
                                    </button>
                                    <!-- Solo se lo user che user uid === commento.idCreatore -->
                                    <ng-container *ngIf=" authService.currentUser$ | async; let user ">
                                            <button mat-menu-item *ngIf="user.uid === commento.idCreatore" (click)="eliminaCommento(commento)" >
                                                <span>Elimina Recensione</span>
                                            </button>
                                        
                                    </ng-container>
                                    
                                  </mat-menu>
                            </div>
                        </div>
                        <div class="commment-content">
                            <p class="comment-title">{{commento.titolo}}</p>
                            <p class="comment-desc">
                                {{commento.descrizione}}
                            </p>
                        </div>
                        <div class="comment-footer">
                            <p class="comment-location">{{commento.nomeUser}}</p>
                        </div>
                    </div>
                </ng-container>
            </div>

            <div class="aggiungi-button-container">
                <button class="button" *ngIf="authService.currentUser$ | async" matRipple (click)="apriCommentoDialog(luogo.id)">Scrivi Recensione</button>
            </div>
        </div>


        <div class="sezione">
            <div class="titolo-container">
                <h4 class=" sottosezione">Emozioni Correlate</h4>
            </div>
            <div class="emozioni-container">
                <mat-chip matRipple (click)="aggiungiEmozione(luogo.id)" class="chip aggiungi-button"
                    *ngIf="authService.currentUser$ | async">Aggiungi</mat-chip>
                
                <!--TODO: se idCreatore===uid allora posso rimuoverlo-->
                

                <ng-container *ngFor="let emozione of luogo.emozioni">
                    
                        <ng-container *ngIf="!emozione['idCreatore']">
                            <mat-chip disabled class="chip" >
                                {{toCap(emozione)}}
                            </mat-chip>
                        </ng-container>
                        
                        <ng-container *ngIf="emozione['idCreatore'] && emozione['idCreatore'] !== userId">
                            
                            <mat-chip disabled class="chip" >
                                {{toCap(emozione['emozione'])}}
                            </mat-chip>
                        </ng-container>

                        <ng-container *ngIf="emozione['idCreatore'] && emozione['idCreatore'] === userId">
                            
                            <mat-chip class="chip user-chip" >
                                <div style="display: flex; align-items: center;" (click)="eliminaEmozione(emozione)">
                                    {{toCap(emozione['emozione'])}} <mat-icon style="font-size: 16px; height: 16px; width: 16px;">close</mat-icon>
                                </div>
                            </mat-chip>
                        </ng-container>
    
                </ng-container>

            </div>
        </div>

        
        <div class="sezione">
            <div class="titolo-container">
                <h4 class=" sottosezione">Anima Locus</h4>
            </div>
        </div>

        <div class="container-emozioni">
            <div class="button-container" matRipple *ngFor="let obiettivo of  luogo.obiettivi; index as i ">
                <button matRipple type="button" class="obiettivo" (click)="esploraAnimaLocus(luogo.id,i)"
                    value="{{obiettivo.nome}} " matBadge="{{obiettivo.container.length}}">
                    <div class="icon-button">
                        <svg-icon src="{{getIconByName(obiettivo.nome)}}"></svg-icon>

                    </div>
                    <p class="label-button">
                        {{obiettivo.nome}}
                    </p>
                </button>

            </div>
        </div>
    </ng-container>


</div>