.drawer-container {
  min-height: 100vh;
  background-image: linear-gradient(#e2dcd5,#f5f3f7);
}
.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: #E2DCD5;
}

.menu-button {
  color: #d2b48c;
  background-color: white;
  box-shadow: none !important;
}
.close-container {
  margin: 1rem;
  display: flex;
  justify-content: flex-end;
}

.container {
  min-height: 100%;
}

.links-container {
  margin-inline: 1rem;
}
.link {
  display: flex;
  justify-content: flex-end;
}

.link-button {
  background: none;
  border: none;
  text-align: end;
  margin: 0;
  width: 190px;
  height: 80px;
  cursor: pointer;
  color: black;
  font-size: 20px;
}

.sidenav {
  width: 100%;
  background-color: #f7f7f7;
}

::ng-deep .mat-toolbar {
  position: fixed;
  z-index: 980;
}

.toolbar-padding {
  padding-top: 64px;
  background-color: #f7f7f7;
}

@media screen and (max-width: 600px) {
  .toolbar-padding {
    padding-top: 56px;
  }
}

.with-icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logout {
  color: rgb(134, 15, 15);
}
