.title {
  display: flex;
  padding-top: 1rem;
  font-weight: bold;
}

.container {
  background-color: #f5f3f7;
  min-height: 100%;
}

.sub-titolo-container{
  width: 100%;
  padding-inline: 24px;
  box-sizing: border-box
}

.sub-titolo{
  font-size: medium;
  color: #818181;
}

.map-container {
  padding: 1rem 1rem 0 1rem;
}
.titolo-sezione {
  font-size: medium;
  font-weight: bold;
  padding-inline: 1rem;
  margin-bottom: 0;
}

.label-titolo {
  font-size: 20px;
  margin: 0;
}
.menu-button {
  color: #d2b48c;
  background-color: white;
  box-shadow: none !important;
}

.sezione {
  width: 100%;
  display: block;
}

.scrollable-container {
  display: flex; /* displays flex-items (children) inline */
  height: 120px;
  width: 100%;
  overflow-x: auto;
  /*nasconde lo scrollbar*/
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.scrollable-container::-webkit-scrollbar{
  width: 0;
}

.item {
  background-color: white;
  flex: 0 0 80%; /* doesn't grow nor shrink, initial width set to 25% of the parent's */
  height: 80px; /* just for demo */
  border-radius: 20px;
  display: flex;
  box-shadow: #64646447 0px 5px 10px 0px;
  margin-inline: 1rem;
}

.content-item {
  margin-inline-start: 1rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.testo-task {
  font-size: smaller;
  margin: 0;
}

.blu {
  color: #015ede;
}

.img-item {
  width: 80px;
  border-radius: 20px 0 0 20px;
}
