<div class="container">
    <div class="sezione">
        <h3 class="titolo-blocco">
            Cosa cerchi quando viaggi?
        </h3>
        <p class="paragrafo">
            Seleziona 3 obiettivi
        </p>
    </div>

    <div class="container-emozioni">
        <div class="button-container" *ngFor="let obiettivo of  getObiettivi()">
            <button matRipple type="button" #bottoneObiettivo class="emozione" (click)="onClick(bottoneObiettivo)"  value="{{obiettivo.nome}}">
                <div class="icon-button">
                    <svg-icon src="{{obiettivo.icon}}" ></svg-icon>
                    
                </div>
                <p class="label-button">
                    {{obiettivo.nome}}
                </p>
            </button>
            
        </div>
    </div>
    <div class="sezione-button">
        <button class="button" (click)="onSubmit()">
            Scopri Suggerimenti
        </button>
    </div>
</div>