.container {
  width: 100%;
  min-height: 100%;
}

.sezione {
  padding: 1rem;
}

.paragrafo {
  font-size: medium;
  font-weight: 300;
  color: #015EDE;
}

.titolo-blocco {
  font-weight: 500;
  font-size: large;
  margin-bottom: 0.5rem;
}
.container-emozioni {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-inline: 1rem;
  gap: 10px;
  max-width: 100%;
  padding-bottom: 1rem;
}
.button-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.emozione {
  width: 105px;
  height: 100px;
  border: none;
  border-radius: 7%;
  box-shadow: none;
  font-size: small;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #015ede;
  box-shadow: 5px 10px 10px 0px hwb(0deg 25.35% 74.65% / 20%);
}

.icon-button {
  margin-bottom: 5px;
}

.sezione-button {
  display: flex;
  justify-content: center;
  padding-inline: 1rem;
}

.submit-button {
  width: 100%;
  max-width: 400px;
  background-image: linear-gradient(to right, #002d6b, #015ede) !important;
  color: white;
  border-radius: 20px;
  border: none;
  font-size: 1rem;
  height: 40px;
}

.selected {
  background-color: #015ede !important;
  color: white !important;
}

@media only screen and (max-width: 320px) {
  .emozione {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    box-shadow: none;
    font-size: x-small;
  }
}
