.sezione {
  padding: 0 1rem;
  padding-top: 1rem;
}

.titolo-blocco {
  font-weight: bolder;
  font-size: large;
  margin-bottom: 0.5rem;
}

.paragrafo {
  margin-bottom: 0;
}

.card {
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
}

.imm-card {
  border-radius: 5%;
  height: 350px;
  object-fit: cover;
  width: auto;
}

.card-container {
  padding-inline: 1rem;
  padding-top: 50px;
}

.chip {
  margin-inline-end: 5px;
  --mdc-chip-disabled-label-text-color: #015EDE;
  --mdc-chip-elevated-disabled-container-color: white; 
    opacity: 1 !important;
    border: 1px solid #015EDE;
}

.emozioni-container {
  padding: 0.5rem 0;
}

.par-card {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: small;
  color: #015EDE;
}


::ng-deep .owl-dots {
  position: absolute;
  top: 10px;
  left: 25%;
  right: 25%;
}

.anima-locus-container{
  padding-bottom: 1rem;
}

.spacer{
  padding-top: 5rem;
}
