.container {
  max-width: 100%;
  min-height: 100vh;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
}

.sezione {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.livello-container {
  width: 90px;
  height: 40px;
  border-radius: 15px;
  background-color: white;
  line-height: 40px;
  text-align: center;
  color: #015ede;
  font-size: large;
  font-weight: bold;
  box-shadow: #64646447 0px 5px 10px 0px;
}

.user-name {
  font-size: larger;
  font-weight: bold;
  color: #015ede;
}

.link {
  border: none;
  background: none;
  color: #015ede;
}

.content-container {
  padding-inline: 1rem;
  width: 100%;
}

.scegli-button {
  background: none;
  color: #015ede;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.selected {
  color: white;
  background-color: #015ede;
}

.count-challenge {
  font-size: medium;
  font-weight: bold;
  color: #3b3b3b;
  margin-bottom: 1rem;
}

.blu {
  color: #015ede;
}

.task-item {
  background-color: white;
  width: 100%;
  max-width: 400px;
  height: 70px;
  border-radius: 20px;
  display: flex;
  margin-bottom: 1rem;
  box-shadow: #64646447 0px 5px 10px 0px;
}

.icon-fatto {
  width: 70px;
  text-align: center;
  line-height: 80px;
}

.content-item {
  width: 100%;
  padding-inline-start: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.content-badge {
  width: 100%;
  padding-inline-start: 1rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.testo-task {
  font-size: medium;
  margin: 0;
  text-align: center;
}
.badge-container {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  gap: 1rem;
  max-width: 100%;
  padding-bottom: 1rem;
}

.badge {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 20px;
  box-shadow: #64646447 0px 5px 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.data {
  color: #696969;
  font-size: small;
  margin: 0;
}

.cronologia {
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.anima-container {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: space-around;
}

.imm-anima {
  width: 100px;
  height: 100px;
  border-radius: 30px;
}

.div-anima {
  width: 100px;
  height: 100px;
  border-radius: 30px;
  background-color: #015ede;
  color: white;
  font-size: large;
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: center;
}


.emozioni-container{
  display: grid;
  grid-template-columns: 105px 105px 105px;
  gap: 10px;
  max-width: 100%;
  padding-bottom: 1rem;
}

.emozione{
  width: 105px;
  height: 105px;
  border-radius: 10px;
  background-color: #015ede;
  color: white;
  font-size: medium;
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

@media only screen and (max-width: 320px) {
  .emozioni-container{
    grid-template-columns: 85px 85px 85px;
  }

  .emozione{
    width: 85px;
    height: 85px;
    font-size: medium;
  }
}

.mat-badge-content {
  background: #d2b48c;
  color: white;
}

.mat-badge-medium.mat-badge-above .mat-badge-content {
  top: 15px;
  right: 15px;
}

@media only screen and (max-width: 425px) {
  .mat-badge-medium.mat-badge-above .mat-badge-content {
    top: 5px;
    right: 5px;
  }
}

.empty-state-container{
  text-align: center;
}

.p-empty{
  color: #696969;
  font-size: medium;
}